<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:..\_nlog_logs\_internalLogs.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
    <target xsi:type="File" name="logs" fileName="c:..\_logs\${shortdate}_logs.log"
            layout="${longdate} | ${uppercase:${level}} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action} | ${message} ${exception:format=tostring,StackTrace}${newline} " />

    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target xsi:type="Console" name="lifetimeConsole" layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="logs" />

    <!--Output hosting lifetime messages to console target for faster startup detection --><!--
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, logs" final="true" />

    --><!--Skip non-critical Microsoft logs and so log only own logs--><!--
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    --><!-- BlackHole -->

    <logger name="*" minlevel="Trace" writeTo="logs" />
  </rules>
</nlog>